<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/ptwo.css">
  </head>
  <body>
    <style media="screen">
      body {
        background-image: url('doc1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style>
    <center>
       <h1>Prediction & Analysis</h1>
      <h4>Of</h4>
      <h2>Liver Paitent Data</h2>

    <input type="text" ib="Age" placeholder="Age " name="Age"><br>
<br>
<input type="text" ib="Age" placeholder="Gender (Male:1 , female:0)" name="Gender"><br>
<br>
<input type="text" ib="Total_Bilirubin" placeholder="Total_bilirubin" name="Total_bilirubin"><br>
<br>
<input type="text" ib="Direct_Bilirubin" placeholder="Direct_bilirubin" name="Direct_Bilirubin"><br>
<br>
<input type="text" ib="Alkaline_Phosphotase" placeholder="Alkline_Phosphotase" name="Alkline_Phosphotase"><br>
<br>
<input type="text" ib="Alamine_Aminotransferase" placeholder="Alamine_Aminotransferase" name="Alamine_Aminotransferase"><br>
<br>
<input type="text" ib="Aspartate_Aminotransferase" placeholder="Aspartate_Aminotransferase" name="Aspartate_Aminotransferase"><br>
<br>
<input type="text" ib="Total_Protiens" placeholder="Total_Protiens" name="Total_Protiens"><br>
<br>
<input type="text" ib="Albumin" placeholder="Albumin" name="Albumin"><br>
<br>
<input type="text" ib="Albumin_and_Globulin_Ratio" placeholder="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio"><br>
<br>
<br>

<button type="submit" class="registerbtn">Predict</button>
</center>


  </body>
</html>
